.pill {
  padding: 0px 15px;
  border-radius: 100px;
  background: #d8d8d8;
  color: #696969;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 1% 2% 0;
  display: inline-block;
}

.pill {
    font-size: 0.8em;
 }
  
.pillsWrap {
  padding: 0;
}

.pillsWrap span {
  margin-bottom: 1%;
}

.cell-data > div > .pillsWrap > li:before {
  color: transparent;
}

.serviceDescription li:before,
.cell-data>div>ul>li:before {
  color: #002776;
  float: left;
  margin: 0 0 0 -1em;
  width: 1em;
  font-size: 11px;
  content: '\2022';
}
.list {
  color: #002776;
  font-size: 11.5px;
  line-height: 1.6;
}